body {
  font-family: Arial, sans-serif;
  margin: 0;
  background: #f4f4f4;
  text-align: center;
}

header {
  background: #4f46e5;
  color: white;
  padding: 40px 20px;
}

button {
  background: #22c55e;
  border: none;
  padding: 15px 25px;
  color: white;
  font-size: 16px;
  cursor: pointer;
  border-radius: 6px;
}

section {
  padding: 30px;
}

footer {
  background: #111;
  color: white;
  padding: 15px;
}

